.hero {
    height: 583px;
    color: $white;

    &__content {
        flex: 0 1 50%;
        padding-top: 49px;
        margin-right: 9%;

        @include mobile {
            flex-grow: 1;
            margin-right: 0;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 1.23;
        margin-bottom: 24px;

        @include mobile {
            font-size: 38px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 142%;
        margin-bottom: 32px;
    }

    &__image {
        flex: 0 0 321px;
        height: 561px;
        background: url('#{$imageFolder}/mobile2x.png') no-repeat center / cover;
        margin-right: 10%;

        @include mobile {
            display: none;
        }
    }
    
    .inner-wrapper {
        display: flex;
        justify-content: space-between;
    }

    @include mobile {
        height: auto;
        margin-bottom: 5rem;
        text-align: center;
    }
}

.why {
    text-align: center;
    margin-bottom: 5.8rem;

    &__title {
        font-size: 32px;
        line-height: 1.1;
        color: $darkGrey;
        margin-bottom: 1.5rem;
    }

    &__text {
        font-size: 1.25rem;
        line-height: 1.4;
        text-align: center;
        color: $grey;
        margin: 0 auto 2.5rem;
        width: 100%;
        max-width: 780px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.25rem;

        @include mobile {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }
}

.card {
    background-color: $white;
    box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .16);
    border-radius: 2rem;
    text-align: center;
    padding: 3rem 2rem;
    box-sizing: border-box;

    &__icon {
        width: 106px;
        height: 96px;
        margin: 0 auto 2.5rem;

        &--one {
            background-image: url('#{$imageFolder}/icon-clean-design.svg');
        }

        &--two {
            background-image: url('#{$imageFolder}/icon-sequre-data.svg');
        }

        &--three {
            background-image: url('#{$imageFolder}/icon-retina-ready.svg');
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $darkGrey;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 16px;
        line-height: 1.4375;
        color: $grey;
    }
}