html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $white;
}

.home-page {
    background: url('#{$imageFolder}/hero-bg.png') no-repeat top center / 100% 583px;

    .header {
        background: none;
    }

    .footer {
        position: relative;
        background: none;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 183px;
            background: url('#{$imageFolder}/footer-bg.png') no-repeat center bottom / 100% 183px;
            z-index: -1;

            @include mobile {
                background-size: cover;
                background-position: -120px;
            }
        }
    }

    @include mobile {
        background-size: cover;
        background-position: left;
    }
}

.inner-wrapper {
    max-width: $desktopLargeWidth;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    flex: 0 0 $headerHeight;
    background-color: $headerBgColor;
    color: $white;
    font-size: 40px;
    display: flex;
    align-items: center;

    &__logo {
        color: white;
        text-decoration: none;
    }
}

.footer {
    margin-top: auto;
    flex: 0 0 $footerHeight;
    background-color: $footerBgColor;
    color: $white;
    display: flex;

    &__logo {
        font-size: 24px;
        line-height: 1.2;
        width: 25%;
    }

    &__rights,
    &__copy {
        font-size: 1rem;
        line-height: 1.4375;
    }

    &__copy {
        text-align: right;
        width: 25%;
    }

    .inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }
    }

    @include mobile {
        padding: 10px 0;
        flex-basis: auto;

        &__rights,
        &__logo,
        &__copy {
            text-align: center;
            width: 100%;
            padding: 5px;
        }
    }
}

.page-title {
    color: $darkGrey;
    font-size: 32px;
    line-height: 39px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    height: 56px;
    width: 220px;
    background-color: $themeColor;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;

    &--light {
        background-color: $white;
        color: $themeColor;
    }
}

.breadcrumbs {
    padding: 1rem 0;
    margin-bottom: .5rem;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        line-height: 1.25;
        color: $themeColor;
    }

    &__list-item {
        position: relative;
        white-space: nowrap;
        
        &:not(:last-child) {
            margin-right: 2.5rem;

            &:after {
                content: '';
                position: absolute;
                width: .5rem;
                height: .5rem;
                border-right: 1px solid $lightGrey;
                border-bottom: 1px solid $lightGrey;
                transform: rotate(-45deg);
                top: .25rem;
                right: -1.5rem;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: $lightGrey;
    }
}
