<div class="inner-wrapper">
    <div class="user-statistics">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link" routerLink="/">Main Page</a>
                </li>
                <li class="breadcrumbs__list-item">
                    User statistics
                </li>
            </ul>
        </div>

        <div class="page-title">Users statistics</div>

        <div class="table-wrapper" *ngIf="userStatistics$ | async as userStatistics">
            <table class="table">
                <thead class="table__head">
                    <tr class="table__row">
                        <th class="table__cell">Id</th>
                        <th class="table__cell">First name</th>
                        <th class="table__cell">Last name</th>
                        <th class="table__cell">Email</th>
                        <th class="table__cell">Gender</th>
                        <th class="table__cell">IP address</th>
                        <th class="table__cell">Total clicks</th>
                        <th class="table__cell">Total page views</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr [routerLink]="['/user', user.id]" class="table__row" *ngFor="let user of userStatistics">
                        <td class="table__cell">{{user.id}}</td>
                        <td class="table__cell">{{user.firstName}}</td>
                        <td class="table__cell">{{user.lastName}}</td>
                        <td class="table__cell">{{user.email}}</td>
                        <td class="table__cell">{{user.gender}}</td>
                        <td class="table__cell">{{user.ipAddress}}</td>
                        <td class="table__cell">{{user.totalPageViews}}</td>
                        <td class="table__cell">{{user.totalClicks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul *ngIf="totalPages" class="pagination">
            <li [ngClass]="{disabled:currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>

            <li [ngClass]="{disabled:currentPage === 1}">
                <a (click)="setPage(currentPage - 1)">Previous</a>
            </li>

            <li *ngFor="let page of pages" [ngClass]="{active:currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>

            <li *ngIf="(totalPages - startPage) > 5 ">
                <a (click)="setPage(startPage + 5)">...</a>
            </li>

             <li *ngIf="(totalPages - startPage) > 5" >
                <a (click)="setPage(totalPages)">{{totalPages}}</a>
            </li>

            <li [ngClass]="{disabled:currentPage === totalPages}">
                <a (click)="setPage(currentPage + 1)">Next</a>
            </li>

            <li [ngClass]="{disabled:currentPage === totalPages}">
                <a (click)="setPage(totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>
