$darkGrey: #1A1A1A;
$grey: #7E7E7E;
$lightGrey: #CCCCCC;
$lightGreyAlt: #F1F1F1;
$white: white;

$themeColor: #3A80BA;
$themeColorDark: #1C3B55;

$headerBgColor: $themeColor;
$footerBgColor: $themeColorDark;

$btnDarkBgColor: $themeColor;
$btnLightBgColor: $white;