<div class="inner-wrapper">
    <div class="user" *ngIf="user">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link" routerLink="/">Main Page</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link" routerLink="/user-statistics">User statistics</a>
                </li>
                <li class="breadcrumbs__list-item">
                    {{user.firstName}} {{user.lastName}}
                </li>
            </ul>
        </div>

		<div class="page-title">{{user.firstName}} {{user.lastName}}</div>
		
		<div class="chart" *ngIf="clicksChart as chart">
			<p class="chart__title">{{chart.title}}</p>

			<div class="chart__item-wrapper">
				<google-chart class="chart__item" 
					[type]="chart.type"
					[data]="chart.data"
					[options]="chart.options">
				</google-chart>
			</div>
		</div>

		<div class="chart" *ngIf="viewsChart as chart">
			<p class="chart__title">{{chart.title}}</p>

			<div class="chart__item-wrapper">
				<google-chart class="chart__item" 
					[type]="chart.type" 
					[data]="chart.data"
					[options]="chart.options">
			</google-chart>
			</div>
		</div>
    </div>
</div>
