<section class="hero">
    <div class="inner-wrapper">
        <div class="hero__content">
            <div class="hero__title">
                <b>Brainstorming</b> for desired perfect Usability
            </div>

            <div class="hero__text">
                Our design projects are fresh and simple and will benefit your business greatly. Learn more about our
                work!
            </div>

            <a class="btn btn--light" routerLink="/user-statistics">View Stats</a>
        </div>

        <div class="hero__image"></div>
    </div>
</section>

<section class="why">
    <div class="inner-wrapper">
        <div class="why__title">
            Why <b>small business owners<br>love</b> AppCo?
        </div>

        <div class="why__text">
            Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
        </div>

        <div class="why__cards">
            <div class="card">
                <div class="card__icon card__icon--one"></div>
                <div class="card__title">Clean Design</div>
                <div class="card__text">Increase sales by showing true dynamics of your website.</div>
            </div>

            <div class="card">
                <div class="card__icon card__icon--two"></div>
                <div class="card__title">Secure Data</div>
                <div class="card__text">Build your online store’s trust using Social Proof & Urgency.</div>
            </div>

            <div class="card">
                <div class="card__icon card__icon--three"></div>
                <div class="card__title">Retina Ready</div>
                <div class="card__text">Realize importance of social proof in customer’s purchase decision.</div>
            </div>
        </div>
    </div>
</section>

<section class="app">
    <div class="inner-wrapper">
        <img class="app__image" src="/assets/images/macbook2x.png" alt="">

        <div class="app__content">
            <div class="app__title">Start Managing your apps business, more faster</div>
            <div class="app__text">Objectively deliver professional value with diverse web-readiness. Collaboratively
                transition wireless customer service without goal-oriented catalysts for change. Collaboratively.</div>
            <a routerLink="/" class="btn btn--light">Learn More</a>
        </div>
    </div>
</section>

<div class="purchaise">
    <div class="inner-wrapper">
        <div class="purchaise__title">
            <b>Afforadble Pricing and Packages</b><br>choose your best one
        </div>

        <div class="purchaise__text">
            Monotonectally grow strategic process improvements vis-a-vis integrated resources.
        </div>

        <div class="purchaise__packages">
            <div class="package">
                <div class="package__title">Basic</div>
                <div class="package__icon package__icon--basic"></div>
                <div class="package__price">$29</div>
                <div class="package__separator"></div>
                <ul class="package__list">
                    <li class="package__list-item">Push Notifications</li>
                    <li class="package__list-item">Data Transfer</li>
                    <li class="package__list-item">SQL Database</li>
                    <li class="package__list-item">Search & SEO Analytics</li>
                    <li class="package__list-item">24/7 Phone Support</li>
                    <li class="package__list-item">2 months technical support</li>
                    <li class="package__list-item">2+ profitable keyword</li>
                </ul>
                <a routerLink="/" class="btn">Purchase now</a>
            </div>

            <div class="package package--highlight">
                <div class="package__title">Standard</div>
                <div class="package__icon package__icon--standard"></div>
                <div class="package__price">$149</div>
                <div class="package__separator"></div>
                <ul class="package__list">
                    <li class="package__list-item">Push Notifications</li>
                    <li class="package__list-item">Data Transfer</li>
                    <li class="package__list-item">SQL Database</li>
                    <li class="package__list-item">Search & SEO Analytics</li>
                    <li class="package__list-item">24/7 Phone Support</li>
                    <li class="package__list-item">2 months technical support</li>
                    <li class="package__list-item">2+ profitable keyword</li>
                </ul>
                <a routerLink="/" class="btn">Purchase now</a>
            </div>

            <div class="package">
                <div class="package__title">Unlimited</div>
                <div class="package__icon package__icon--unlimited"></div>
                <div class="package__price">$39</div>
                <div class="package__separator"></div>
                <ul class="package__list">
                    <li class="package__list-item">Push Notifications</li>
                    <li class="package__list-item">Data Transfer</li>
                    <li class="package__list-item">SQL Database</li>
                    <li class="package__list-item">Search & SEO Analytics</li>
                    <li class="package__list-item">24/7 Phone Support</li>
                    <li class="package__list-item">2 months technical support</li>
                    <li class="package__list-item">2+ profitable keyword</li>
                </ul>
                <a routerLink="/" class="btn">Purchase now</a>
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="inner-wrapper">
        <div class="contact__top">
            If you need custom services or Need more? <a class="contact__email" href="mailto:info@appco.com">Contact us</a>
        </div>

        <form action="" class="contact__form">
            <input class="contact__input" type="email" placeholder="Enter your email" required>
            <button class="btn">Subscribe</button>
        </form>
    </div>
</div>