<section class="hero">
    <div class="inner-wrapper">
        <div class="hero__content">
            <div class="hero__title">
                <b>Brainstorming</b> for desired perfect Usability
            </div>

            <div class="hero__text">
                Our design projects are fresh and simple and will benefit your business greatly. Learn more about our
                work!
            </div>

            <a class="btn btn--light" routerLink="/user-statistics">View Stats</a>
        </div>

        <div class="hero__image"></div>
    </div>
</section>